@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.VehicleLookup
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_assign.main
@import views.vrm_assign.BeforeYouStart.NextId

@main(
    title = Messages("vrm_assign_beforeyoustart.title")
) {
    <div class="two-col clearfix">
        <div class="second-col">
          <h1>@Messages("vrm_assign_beforeyoustart.title")</h1>
          <h2>@Messages("vrm_assign_beforeyoustart.p1")</h2>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list1item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list1item2")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list1item3")</li>
          </ul>
          <p>
              @csrfTokenHiddenField()
              @* Note the reverse routing syntax for the hyperlink *@
              <a class="button" id="@NextId" href="@VehicleLookup.present()">@Messages("vrm_assign_beforeyoustart.button")</a>
          </p>
          <p><strong>@Messages("vrm_assign_beforeyoustart.p3")</strong></p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list2item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list2item2")</li>
          </ul>
          <p><strong>@Messages("vrm_assign_beforeyoustart.p4")</strong></p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list3item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item2")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item3")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item4")</li>
          </ul>

          <div class="alert-warning"><strong>@Messages("vrm_assign_beforeyoustart.p6")</strong></div>
          <div class="info-notice">@Messages("vrm_assign_beforeyoustart.p7")</div>
          <h2>@Messages("vrm_assign_beforeyoustart.subtitle2")</h2>
          <p>@Messages("vrm_assign_beforeyoustart.p8")</p>
          <p>@Messages("vrm_assign_beforeyoustart.p10a") <a href='@Messages("vrm_assign_beforeyoustart.p10.link")'>@Messages("vrm_assign_beforeyoustart.p10.link_text")</a> @Messages("vrm_assign_beforeyoustart.p10b")</p>
          <p>@Messages("vrm_assign_beforeyoustart.p11")</p>
        </div>
    </div>

}
