@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.VehicleLookup
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_assign.main
@import views.vrm_assign.BeforeYouStart.NextId

@main(
    title = Messages("vrm_assign_beforeyoustart.title")
) {
    <div class="two-col clearfix">
        <div class="second-col">
          <h1>@Messages("vrm_assign_beforeyoustart.title")</h1>
          <p>@Messages("vrm_assign_beforeyoustart.p1")</p>
          <h2>@Messages("vrm_assign_beforeyoustart.subtitle1")</h1>
          <p>@Messages("vrm_assign_beforeyoustart.p2")</p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list1item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list1item2")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list1item3")</li>
          </ul>
          <p>
              @csrfTokenHiddenField()
              @* Note the reverse routing syntax for the hyperlink *@
              <a class="button" id="@NextId" href="@VehicleLookup.present()">@Messages("vrm_assign_beforeyoustart.button")</a>
          </p>
          <p>@Messages("vrm_assign_beforeyoustart.p3")</p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list2item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list2item2")</li>
          </ul>
          <p>@Messages("vrm_assign_beforeyoustart.p4")</p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list3item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item2")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item3")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item4")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item5")</li>
          </ul>
          <p>@Messages("vrm_assign_beforeyoustart.p5")</p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list4item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list4item2")</li>
          </ul>
          <div class="alert-warning">@Messages("vrm_assign_beforeyoustart.p6")</div>
          <div class="info-notice">@Messages("vrm_assign_beforeyoustart.p7")</div>
          <h2>@Messages("vrm_assign_beforeyoustart.subtitle2")</h1>
          <p>@Messages("vrm_assign_beforeyoustart.p8")</p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list5item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list5item2")</li>
          </ul>
          <p>@Messages("vrm_assign_beforeyoustart.p9")</p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list6item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list6item2")</li>
          </ul>
          <p>@Messages("vrm_assign_beforeyoustart.p10")</p>
          <p>@Messages("vrm_assign_beforeyoustart.p11")</p>
        </div>
        <div class="first-col">
          <div class="related">
              <h2>Other Digital Services</h2>
              <p><a href="#">Sell a vehicle to the trade</a></p>
          </div>
        </div>
    </div>

}
