@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.VehicleLookup
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_assign.main
@import views.vrm_assign.BeforeYouStart.NextId

@main(
    title = Messages("vrm_assign_beforeyoustart.title")
) {
    <div class="two-col clearfix">
        <div class="second-col">
          <h1>@Messages("vrm_assign_beforeyoustart.title")</h1>
          <h3>@Messages("vrm_assign_beforeyoustart.p1")</h3>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list1item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list1item2")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list1item3")</li>
          </ul>
          <p>
              @csrfTokenHiddenField()
              @* Note the reverse routing syntax for the hyperlink *@
              <a class="button" id="@NextId" href="@VehicleLookup.present()" role="button">@Messages("vrm_assign_beforeyoustart.button")</a>
          </p>
          <p><strong>@Messages("vrm_assign_beforeyoustart.p3")</strong></p>
          <ul>
            <li>@Messages("vrm_assign_beforeyoustart.list2item1")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list2item2")</li>
          </ul>
          <p><strong>@Messages("vrm_assign_beforeyoustart.p4")</strong></p>
          <ul>
              <li>@Messages("vrm_assign_beforeyoustart.list3item1")</li>
              <ul>
              <li>@Messages("vrm_assign_beforeyoustart.list3item1a")</li>
              <li>@Messages("vrm_assign_beforeyoustart.list3item1b")</li>
              <li>@Messages("vrm_assign_beforeyoustart.list3item1c")</li>
              </ul>
            <li>@Messages("vrm_assign_beforeyoustart.list3item2")</li>
            <li>@Messages("vrm_assign_beforeyoustart.list3item3")</li>
          </ul>
      </div>
    </div>
}