@(captureCertificateDetailsFormModel: Form[models.CaptureCertificateDetailsFormModel],
        viewModel: models.CaptureCertificateDetailsViewModel,
        vehicleDetails: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import controllers.routes.CaptureCertificateDetails
@import mappings.common.vrm_assign._
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import views.html.helper.form
@import views.html.common.vehicle_details_playback
@import views.html.vrm_assign.main
@import views.vrm_assign.CaptureCertificateDetails._
@import uk.gov.dvla.vehicles.presentation.common.mappings.VehicleRegistrationNumber
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.HtmlArgsExtensions.RichHtmlArgs
@import uk.gov.dvla.vehicles.presentation.common.mappings.VehicleRegistrationNumber

@main(
    title = Messages("vrm_assign_capturecertificatedetails.title"),
    currentForm = Some(captureCertificateDetailsFormModel),
    backNavigation = Some(controllers.routes.CaptureCertificateDetails.back())
) {
    @form(action = CaptureCertificateDetails.submit) {
        @csrfTokenHiddenField()

        <div class="two-col">
            <div class="second-col inline-form">
                <div class="certificate-details">
                    <h2>@Messages("vrm_assign_capturecertificatedetails.title")</h2>
                    <h3>
                        <span class="js-has-tooltip" data-tooltip="certificates-hint">i</span>
                        <div class="js-tooltip js-tooltip-long" data-tooltip="certificates-hint" style="display:none;">
                            <table cellpadding="10">
                                <tr>
                                    <td>
                                        <p>@Messages("vrm_assign_capturecertificatedetails.onlineRetentionHint")</p>
                                        <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/retention-service-online-480px.jpg")" alt="@Messages("vrm_assign_capturecertificatedetails.onlineRetentionHint")" />
                                    </td>
                                    <td>
                                        <p>@Messages("capture-certificate-details-you-will-need-certificate-of-entitlement")</p>
                                        <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/v750-viewfinder-1-480px.jpg")" alt="@Messages("capture-certificate-details-you-will-need-certificate-of-entitlement")" />
                                    </td>
                                    <td>
                                        <p>@Messages("capture-certificate-details-you-will-need-retention-document")</p>
                                        <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/v778-viewfinder-1-480px.jpg")" alt="@Messages("capture-certificate-details-you-will-need-certificate-of-entitlement")" />
                                    </td>
                                </tr>
                            </table>
                        </div>

                        @Messages("vrm_assign_capturecertificatedetails.title-2")
                    </h3>

                    <div class="form-hint">
                        @Messages("vrm_assign_capturecertificatedetails.referencenumberhelper")
                    </div>

                    <ul>
                        <li>
                            <span class="js-has-tooltip js-has-long-tooltip" data-tooltip="online-retention" style="display: inline-block;">@Messages("vrm_assign_capturecertificatedetails.onlineRetention")</span><br/>
                            <div class="js-tooltip" data-tooltip="online-retention">
                                <p>@Messages("vrm_assign_capturecertificatedetails.onlineRetentionHint")</p>
                                <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/retention-service-online-480px.jpg")" alt="@Messages("vrm_assign_capturecertificatedetails.onlineRetentionHint")" />
                            </div>
                        </li>
                        <li>
                            <span class="js-has-tooltip js-has-long-tooltip" data-tooltip="v750" style="display: inline-block;">@Messages("vrm_assign_capturecertificatedetails.hintCertificate")</span> @Messages("vrm_assign_capturecertificatedetails.hintCertificate-1")<br/>
                            <div class="js-tooltip" data-tooltip="v750">
                                <p>@Messages("capture-certificate-details-you-will-need-certificate-of-entitlement")</p>
                                <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/v750-viewfinder-1-480px.jpg")" alt="@Messages("capture-certificate-details-you-will-need-certificate-of-entitlement")" />
                            </div>
                        </li>
                        <li>
                            <span class="js-has-tooltip js-has-long-tooltip" data-tooltip="v778" style="display: inline-block;">@Messages("vrm_assign_capturecertificatedetails.hintDocumentReference")</span>
                            <div class="js-tooltip" data-tooltip="v778">
                                <p>@Messages("capture-certificate-details-you-will-need-retention-document")</p>
                                <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/v778-viewfinder-1-480px.jpg")" alt="@Messages("capture-certificate-details-you-will-need-certificate-of-entitlement")" />
                            </div>
                        </li>
                    </ul>

                    <div class="uppercase-input certificate-id-input">
                        @valtechInputText(captureCertificateDetailsFormModel(CertificateDocumentCountId),
                            args =
                                    Map('_label -> Messages("vrm_assign_capturecertificatedetails.referencenumberBox1"),
                                        '_showConstraints -> false,
                                        'maxLength -> CertificateDocumentCount.MaxLength,
                                        Symbol("aria-describedby") -> s"""$CertificateDocumentCountId-hint""")
                        )

                        @valtechInputText(captureCertificateDetailsFormModel(CertificateDateId),
                            args =
                                    Map('_label -> Messages("vrm_assign_capturecertificatedetails.referencenumberBox2"),
                                        '_showConstraints -> false,
                                        'maxLength -> CertificateDate.MaxLength))

                        @valtechInputText(captureCertificateDetailsFormModel(CertificateTimeId),
                            args =
                                    Map('_label -> Messages("vrm_assign_capturecertificatedetails.referencenumberBox3"),
                                        '_showConstraints -> false,
                                        'maxLength -> CertificateTime.MaxLength))

                        @valtechInputText(captureCertificateDetailsFormModel(CertificateRegistrationMarkId),
                            args =
                                    Map('_label -> Messages("vrm_assign_capturecertificatedetails.referencenumberBox4"),
                                        '_showConstraints -> false,
                                        'maxLength -> VehicleRegistrationNumber.MaxLength))
                    </div>
                    <div id="@{s"""$CertificateDocumentCountId-hint"""}" class="form-hint">
                        <p>@Messages("capture-certificate-details-reference-number-helper-1")</p>
                    </div>

                </div>
                <br />
                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">
                        @Messages("vrm_assign_capturecertificatedetails.button")
                    </button>
                    <br/>
                    <a id="@ExitId" class="exit" href="@controllers.routes.CaptureCertificateDetails.exit()">@Messages("vrm_assign_exit.button")</a>
                </div>
            </div>
            <div id="vehicle-details" class="first-col trader-details">
                <dl class="playback">
                    <h3>@Messages("vrm_assign_vehicle_callback.title")</h3>
                    <dt>@Messages("vrm_assign_vehicle_callback.regNumLabel")</dt>
                    <dd><span class="reg-number">@vehicleDetails.registrationNumber</span></dd>
                </dl>
            </div>
        </div>
    }

    <script data-main="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/capture-certificate-details-page.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js")).url"></script>
}
