@(captureCertificateDetailsFormModel: Form[models.CaptureCertificateDetailsFormModel],
        viewModel: models.CaptureCertificateDetailsViewModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.CaptureCertificateDetails
@import mappings.common.vrm_assign._
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import views.html.helper.form
@import views.html.vrm_assign.main
@import views.vrm_assign.CaptureCertificateDetails._
@import uk.gov.dvla.vehicles.presentation.common.mappings.VehicleRegistrationNumber
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.HtmlArgsExtensions.RichHtmlArgs

@main(
    title = Messages("vrm_assign_capturecertificatedetails.title"),
    currentForm = Some(captureCertificateDetailsFormModel),
    backNavigation = Some(controllers.routes.VehicleLookup.present())
) {
    @form(action = CaptureCertificateDetails.submit) {
        @csrfTokenHiddenField()

        <div class="two-col">
            <div class="second-col inline-form">
                <div class="certificate-details">
                    <h2>
                        @Messages("vrm_assign_capturecertificatedetails.title")
                    </h2>
                    <div class="form-hint">
                        @Messages("vrm_assign_capturecertificatedetails.referencenumberhelper")
                    </div>
                    <div class="uppercase-input certificate-id-input">
                        @valtechInputText(captureCertificateDetailsFormModel(CertificateDocumentCountId),
                            args =
                                    Map('_label -> "",
                                        '_showConstraints -> false,
                                        'maxLength -> CertificateDocumentCount.MaxLength,
                                        Symbol("aria-describedby") -> s"""$CertificateDocumentCountId-hint""")
                        )
                        -
                        @valtechInputText(captureCertificateDetailsFormModel(CertificateDateId),
                            args =
                                    Map('_label -> "",
                                        '_showConstraints -> false,
                                        'maxLength -> CertificateDate.MaxLength)) -
                        @valtechInputText(captureCertificateDetailsFormModel(CertificateTimeId),
                            args =
                                    Map('_label -> "",
                                        '_showConstraints -> false,
                                        'maxLength -> CertificateTime.MaxLength)) -
                        @valtechInputText(captureCertificateDetailsFormModel(CertificateRegistrationMarkId),
                            args =
                                    Map('_label -> "",
                                        '_showConstraints -> false,
                                        'minLength -> CertificateRegistrationMark.MinLength,
                                        'maxLength -> CertificateRegistrationMark.MaxLength))
                    </div>
                    <div id="@{s"""$CertificateDocumentCountId-hint"""}" class="form-hint">
                        @Messages("capture-certificate-details-reference-number-helper-1")
                        <br />
                        @Messages("capture-certificate-details-reference-number-helper-2")
                    </div>
                </div>
                <br />
                <div class="uppercase-input">
                    @valtechInputText(captureCertificateDetailsFormModel(PrVrmId),
                        args =
                                Map('_label -> Messages("vrm_assign_capturecertificatedetails.prvrmlabel"),
                                    '_showConstraints -> false,
                                    'maxLength -> VehicleRegistrationNumber.MaxLength))
                </div>
                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">
                        @Messages("vrm_assign_capturecertificatedetails.button")
                    </button>
                    <br/>
                    <a id="@ExitId" class="exit" href="@controllers.routes.CaptureCertificateDetails.exit()">@Messages("vrm_assign_exit.button")</a>
                </div>
            </div>
            <div id="vehicle-details" class="first-col trader-details">
                <dl class="playback">
                    <h3>@Messages("vrm_assign_vehicle_callback.title")</h3>
                    <dt>@Messages("vrm_assign_vehicle_callback.regNumLabel")</dt>
                    <dd class="reg-number">@viewModel.registrationNumber</dd>
                    @if(viewModel.vehicleMake.isDefined) {
                        <dt>@Messages("vrm_assign_vehicle_callback.makeLabel")</dt>
                        <dd>@viewModel.vehicleMake.get.take(20)</dd>
                    }
                    @if(viewModel.vehicleModel.isDefined) {
                        <dt>@Messages("vrm_assign_vehicle_callback.modelLabel")</dt>
                        <dd>@viewModel.vehicleModel.get.take(20)</dd>
                    }
                </dl>
                <div class="help-thumbs">

                    <h3>You will need</h3>
                    <p>Certificate of entitlement (V750)</p>
                    <a target="_blank" href="@routes.Assets.at("images/v750-viewfinder-1.png")" >
                        <picture>
                            @*
                            See w3 spec for 'picture' element:
                            https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content

                            See media queries such as 'max-width':
                            https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries

                            See list of browser support:
                            http://caniuse.com/#feat=picture
                            *@
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source media="(min-width: 769px)" srcset="@routes.Assets.at("images/v750-viewfinder-1-960px.jpg")">
                            <source media="(min-width: 601px)" srcset="@routes.Assets.at("images/v750-viewfinder-1-768px.jpg")">
                            <source media="(min-width: 481px)" srcset="@routes.Assets.at("images/v750-viewfinder-1-600px.jpg")">
                            <source media="(min-width: 321px)" srcset="@routes.Assets.at("images/v750-viewfinder-1-480px.jpg")">
                            <source media="(min-width: 241px)" srcset="@routes.Assets.at("images/v750-viewfinder-1-320px.jpg")">
                            <source media="(min-width: 0px)" srcset="@routes.Assets.at("images/v750-viewfinder-1-240px.jpg")">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="@routes.Assets.at("images/v750-viewfinder-1-320px.jpg")" alt="Vertificate of entitlement (V750)" style='width:100%;'> @* Default for users that don't support the 'picture' element. Legacy mobile user agents are more important by default use the smallest image *@
                        </picture>
                    </a>

                    <br/><br/>
                    <h3>or</h3>
                    <p>Retention Document (V778)</p>
                    <a target="_blank" href="@routes.Assets.at("images/v778-viewfinder-1.png")" >
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source media="(min-width: 769px)" srcset="@routes.Assets.at("images/v778-viewfinder-1-960px.jpg")">
                            <source media="(min-width: 601px)" srcset="@routes.Assets.at("images/v778-viewfinder-1-768px.jpg")">
                            <source media="(min-width: 481px)" srcset="@routes.Assets.at("images/v778-viewfinder-1-600px.jpg")">
                            <source media="(min-width: 321px)" srcset="@routes.Assets.at("images/v778-viewfinder-1-480px.jpg")">
                            <source media="(min-width: 241px)" srcset="@routes.Assets.at("images/v778-viewfinder-1-320px.jpg")">
                            <source media="(min-width: 0px)" srcset="@routes.Assets.at("images/v778-viewfinder-1-240px.jpg")">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="@routes.Assets.at("images/v778-viewfinder-1-320px.jpg")" alt="Retention Document (V778)" style='width:100%;'>
                        </picture>
                    </a>


                </div>
            </div>
        </div>
    }
}