@(captureCertificateDetailsFormModel: Form[models.CaptureCertificateDetailsFormModel],
        viewModel: models.CaptureCertificateDetailsViewModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)
@import uk.gov.dvla.vehicles.presentation.common.mappings.VehicleRegistrationNumber

@import controllers.routes.CaptureCertificateDetails
@import mappings.common.vrm_assign._
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import views.html.helper.form
@import views.html.vrm_assign.main
@import views.vrm_assign.CaptureCertificateDetails._
@import uk.gov.dvla.vehicles.presentation.common.mappings.VehicleRegistrationNumber

@main(
    title = Messages("vrm_assign_capturecertificatedetails.title"),
    currentForm = Some(captureCertificateDetailsFormModel),
    backNavigation = Some(controllers.routes.VehicleLookup.present())
) {
    @form(action = CaptureCertificateDetails.submit) {
        @csrfTokenHiddenField()

        <div class="two-col">

            <div class="second-col inline-form">
                <h2>@Messages("vrm_assign_capturecertificatedetails.title")</h2>
                <div class="info-notice">
                    @Messages("vrm_assign_capturecertificatedetails.p1")
                </div>
                <div class="uppercase-input">
                @valtechInputText(captureCertificateDetailsFormModel(ReferenceNumberId),
                    hintText = Some(Messages("vrm_assign_capturecertificatedetails.referencenumberhelper")),
                    args =
                    Map('_label -> Messages("vrm_assign_capturecertificatedetails.referencenumberlabel"),
                        '_showConstraints -> false,
                        'maxLength -> ReferenceNumber.MaxLength))
                </div>
                <ul class="hint-list">
                  <li>@Messages("capture-certificate-details-reference-number-helper-1")</li>
                  <li>@Messages("capture-certificate-details-reference-number-helper-2")</li>
                </ul>

                <div class="uppercase-input">
                @valtechInputText(captureCertificateDetailsFormModel(PrVrmId),
                    args =
                    Map('_label -> Messages("vrm_assign_capturecertificatedetails.prvrmlabel"),
                    '_showConstraints -> false,
                    'maxLength -> VehicleRegistrationNumber.MaxLength))
                </div>
                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">@Messages("vrm_assign_capturecertificatedetails.button")</button>
                    <br/>
                    <a id="@ExitId" class="exit" href="@controllers.routes.CaptureCertificateDetails.exit()">@Messages("vrm_assign_exit.button")</a>
                </div>
            </div>
            <div id="vehicle-details" class="first-col trader-details">
                    <dl class="playback">
                <h3>@Messages("vrm_assign_vehicle_callback.title")</h3>
                        <dt>@Messages("vrm_assign_vehicle_callback.regNumLabel")</dt>
                        <dd class="reg-number">@viewModel.registrationNumber</dd>
                        @if(viewModel.vehicleMake.isDefined) {
                            <dt>@Messages("vrm_assign_vehicle_callback.makeLabel")</dt>
                            <dd>@viewModel.vehicleMake.get.take(20)</dd>
                        }
                        @if(viewModel.vehicleModel.isDefined) {
                            <dt>@Messages("vrm_assign_vehicle_callback.modelLabel")</dt>
                            <dd>@viewModel.vehicleModel.get.take(20)</dd>
                        }
                    </dl>
            </div>
            <div class="first-col">
                <div class="related">
                    <h3>@Messages("vrm_assign_contact.title")</h3>
                    <dl>
                        <dt>@Messages("vrm_assign_contact.telLabel")</dt>
                        <dd><strong>@Messages("vrm_assign_contact.telNumber")</strong></dd>
                        <dt>@Messages("vrm_assign_contact.texLabel")</dt>
                        <dd><strong>@Messages("vrm_assign_contact.texNumber")</strong></dd>
                        <dt>@Messages("vrm_assign_contact.hoursLabel")</dt>
                        <dd>
                            <strong>@Messages("vrm_assign_contact.hoursMonFri")</strong>
                            <br>
                            <strong>@Messages("vrm_assign_contact.hoursSun")</strong>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    }
}