@(confirmViewModel: models.ConfirmViewModel,
        vehicleDetails: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.valtechDeclareCheck
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.playbackList
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.registrationNumber
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.helper.form
@import views.html.vrm_assign.main
@import views.vrm_assign.Confirm._
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.optionalToggle
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.email

@main(
    title = Messages("vrm_assign_confirm.title"),
    currentForm = None,
    backNavigation = Some(controllers.routes.CaptureCertificateDetails.present())
) {

    @form(action = controllers.routes.ConfirmPayment.submit()) {
        @csrfTokenHiddenField()
        <div class="two-col">
            <div class="second-col">
                @if(confirmViewModel.hasOutstandingPayments) {
                    <h2>@Messages("vrm_assign_confirm.newRegTitle")</h2>
                    <p>@Messages("vrm_assign_confirm.outstandingFees") @confirmViewModel.replacementRegistration@Messages("vrm_assign_confirm.outstandingFees-1")</p>
                    <h3>@Messages("vrm_assign_confirm.outstandingFeesTitle")</h3>
                    @for(payment <- confirmViewModel.outstandingPaymentList) {
                        @payment.split("£")(0)
                        <span class="renewalFee">£ @payment.split("£")(1)</span> <br>
                    }
                    <div class="renewalFeeTotalRow">
                        <span><strong>@Messages("vrm_assign_confirm.feesRelatedTotal")</strong></span>
                        <span class="renewalFee">£ @confirmViewModel.outstandingPaymentAmount</span>
                    </div>
                }
            </div>
            <div class="first-col">
                @playbackList(
                    Messages("vrm_assign_confirm.feesRelatedH3"),
                    {
                        val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();

                        vehicleDetails.make match {
                            case Some(make) => playbackItems += (Messages("vrm_assign_confirm.feesRelatedVehicleMake") -> make)
                            case None => playbackItems
                        }
                        vehicleDetails.model match {
                            case Some(model) => playbackItems += (Messages("vrm_assign_confirm.feesRelatedVehicleModel") -> model)
                            case None => playbackItems
                        }

                        val flaggedRegNumberLabel: String = "REG_" + Messages("vrm_assign_confirm.feesRelatedVehicleRegistration")
                        playbackItems += (flaggedRegNumberLabel -> confirmViewModel.replacementRegistration)
                    },
                    List("related"),
                    {
                        Html("<p><strong>" + Messages("vrm_assign_confirm.feesRelatedH4") + "</strong></p>")
                    }
                )()
            </div>
        </div>

        <div class="form-steps">
            <button id="@ConfirmId"
                    type="submit"
                    name="action"
                    class="button ga-track-click-event-once"
                    data-ga-event-action="@ConfirmId">@Messages("vrm_assign_confirm.outstandingFeesCta")</button>
            <br/>
            <a id="@ExitId"
               class="exit ga-track-click-event-once"
               data-ga-event-action="@ExitId"
               href="@controllers.routes.ConfirmPayment.exit()">@Messages("vrm_assign_exit.button")</a>
        </div>
    }

    @if(config.googleAnalyticsTrackingId.isDefined) {
        <script type="text/javascript">
            trackChange(['@KeeperEmailId']);
        </script>
    }
}
