@(confirmViewModel: models.ConfirmViewModel,
        confirmForm: Form[models.ConfirmFormModel],
        vehicleDetails: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel,
        isKeeperEmailDisplayedOnLoad: Boolean,
        isKeeper: Boolean)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.valtechDeclareCheck
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import views.html.helper.form
@import views.html.common.vehicle_details_playback
@import views.html.vrm_assign.main
@import views.vrm_assign.Confirm._
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.optionalToggle
    @import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.email

@main(
    title = Messages("vrm_assign_confirm.title"),
    currentForm = Some(confirmForm),
    backNavigation = Some(controllers.routes.CaptureCertificateDetails.present())
) {

    @form(action = controllers.routes.Confirm.submit()) {
        @csrfTokenHiddenField()
        <div class="two-col">
            <div class="second-col">
                <h2>@Messages("vrm_assign_confirm.title")</h2>
                <dl>
                    <dt>@Messages("vrm_assign_confirm.toAssign")</dt>
                    <dd class="reg-number">@confirmViewModel.replacementRegistration</dd>
                    <br/>
                    <dt>@Messages("vrm_assign_confirm.keeperLabel")</dt>
                    <dt><strong>@confirmViewModel.keeperTitle @confirmViewModel.keeperFirstName @confirmViewModel.keeperLastName</strong></dt><br />
                    <dt>@Messages("vrm_assign_confirm.keeperAddressLabel")</dt>
                    <dt>@for(keeperAddressLine <- confirmViewModel.keeperAddress.get.address) {
                        <strong>@keeperAddressLine </strong><br>
                        }</dt>
                    <br />
                    @*<dt>@Messages("vrm_assign_confirm.keeperPostcodeLabel")</dt>*@
                    @*<dt><strong>@confirmViewModel.keeperAddress.get.address.last</strong></dt>*@
                </dl>

                <br/>

                <div class="summary-wrapper">
                    <span id="@SummaryId" class="summary"><strong>@Messages("vrm_assign_confirm.emailWarn")</strong></span>
                    <div class="details">
                        <div class="panel-indent">
                            <p>@Messages("vrm_assign_confirm.emailWarnp1")</p>
                            <p>@Messages("vrm_assign_confirm.emailWarnp2")</p>
                            <p>@Messages("vrm_assign_confirm.emailWarnp3")</p>
                            <p>@Messages("vrm_assign_confirm.emailWarnp4") <a href="https://www.gov.uk/change-name-address-v5c">@Messages("vrm_assign_confirm.emailWarnp4link")</a></p>
                            <p>@Messages("vrm_assign_confirm.emailWarnp5") <a href="https://www.gov.uk/personalised-vehicle-registration-numbers/renewing-updating-or-replacing-a-v778-retention-document">@Messages("vrm_assign_confirm.emailWarnp5link")</a></p>
                        </div>
                    </div>
                </div>

                <br>
                </br>
                <br/>

                @valtechDeclareCheck(confirmForm(GranteeConsentId),
                    args = Map(
                        '_showConstraints -> false,
                        '_label -> Messages("vrm_assign_confirm.granteeConsent")
                    )
                )

                <br/>
                <br>
                </br>

                @optionalToggle(
                    field = confirmForm(SupplyEmailId),
                    title = {
                        if(isKeeper) Messages("supply-email-keeper-acting")
                        else Messages("supply-email-business-acting")
                    },
                    visibleLabel = Messages("supply-email-true"),
                    invisibleLable = Messages("supply-email-false"),
                    optionalField = email(confirmForm(KeeperEmailId),
                                        labelText = if(isKeeper) Messages("vrm_assign_confirm.emailAddressKeeperLabel")
                                                     else Messages("vrm_assign_confirm.emailAddressCustomerLabel"),
                                        hintText = if(isKeeper) Some(Messages("vrm_assign_confirm.emailKeeper"))
                                                    else Some(Messages("vrm_assign_confirm.emailTrade")),
                                        args = Map('maxLength -> KeeperEmailMaxLength,
                                            '_showConstraints -> false,
                                            'NO_OPTIONAL_LABEL -> false
                                        )
                                    )

                )

                @if(confirmViewModel.outstandingPaymentAmount > 0) {
                    <h3>@Messages("vrm_assign_confirm.newRegTitle") @confirmViewModel.replacementRegistration</h3>
                    <p>@Messages("vrm_assign_confirm.outstandingFees")</p>
                    @for(payment <- confirmViewModel.outstandingPaymentList) {
                        @payment.split("£")(0)
                        <span class="renewalFee">£@payment.split("£")(1)</span> <br>
                    }
                    <br>
                }
            </div>
            <div class="first-col">
                @vehicle_details_playback(vehicleDetails)
            </div>

        </div>

        <div class="form-steps">
            <button id="@ConfirmId" type="submit" name="action" class="button">@Messages("vrm_assign_confirm.button")</button>
            <br/>
            <a id="@ExitId" class="exit" href="@controllers.routes.Confirm.exit()">@Messages("vrm_assign_exit.button")</a>
        </div>
    }

    @if(config.googleAnalyticsTrackingId.isDefined) {
        <script type="text/javascript">
            trackChange(['@KeeperEmailId']);
            trackClick(['@GranteeConsentId', '@SummaryId', '@ConfirmId', '@ExitId']);
        </script>
    }
}
