@(confirmViewModel: models.ConfirmViewModel,
        confirmForm: Form[models.ConfirmFormModel],
        vehicleDetails: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel,
        isKeeper: Boolean)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.valtechDeclareCheck
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.playbackList
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.registrationNumber
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import views.html.helper.form
@import views.html.vrm_assign.main
@import views.vrm_assign.Confirm._
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.optionalToggle
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.summaryWrapper
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.email

@main(
    title = Messages("vrm_assign_confirm.title"),
    currentForm = Some(confirmForm),
    backNavigation = Some(controllers.routes.CaptureCertificateDetails.present())
) {

    @form(action = controllers.routes.Confirm.submit()) {
        @csrfTokenHiddenField()
        <div class="two-col confirm-details">
            <div class="second-col">
                @playbackList(
                    Messages("vrm_assign_confirm.title"),
                    {
                        val playbackItems: LinkedHashMap[String, String] = LinkedHashMap()
                        playbackItems += (Messages("vrm_assign_confirm.keeperLabel") -> (confirmViewModel.keeperTitle.get
                            + " " + confirmViewModel.keeperFirstName.get + " " + confirmViewModel.keeperLastName.get) )
                        playbackItems += (Messages("vrm_assign_confirm.keeperAddressLabel") -> confirmViewModel.keeperAddress.get.address.mkString("<br/>"))
                    }
                )()

                @summaryWrapper(Messages("vrm_assign_confirm.emailWarn")) {
                    <p>@Messages("vrm_assign_confirm.emailWarnp1")</p>
                    <p>@Messages("vrm_assign_confirm.emailWarnp2")</p>
                    <p>@Messages("vrm_assign_confirm.emailWarnp3")</p>
                    <p>@Messages("vrm_assign_confirm.emailWarnp4") <a href="https://www.gov.uk/change-name-address-v5c">@Messages("vrm_assign_confirm.emailWarnp4link")</a></p>
                    <p>@Messages("vrm_assign_confirm.emailWarnp5") <a href="https://www.gov.uk/personalised-vehicle-registration-numbers/renewing-updating-or-replacing-a-v778-retention-document">@Messages("vrm_assign_confirm.emailWarnp5link")</a></p>
                }

                <p class="reg-number-confirmation">@Messages("vrm_assign_confirm.toAssign") <br/>
                    @registrationNumber() { @confirmViewModel.replacementRegistration }
                </p>


                <div class="confirmation-block">
                    <h3>@Messages("vrm_assign_confirm.consent")</h3>
                    @if(isKeeper) {
                        @valtechDeclareCheck(confirmForm(GranteeConsentId),
                            args = Map(
                                '_showConstraints -> false,
                                '_label -> Messages("vrm_assign_confirm.granteeConsent")
                            )
                        )
                    } else {
                        @valtechDeclareCheck(confirmForm(GranteeConsentId),
                            args = Map(
                                '_showConstraints -> false,
                                '_label -> Messages("vrm_assign_confirm.businessConsent")
                            )
                        )
                    }
                </div>

                <div class="confirmation-block">
                    <h3>@Messages("vrm_assign_confirm.email")</h3>
                    @optionalToggle(
                        field = confirmForm(SupplyEmailId),
                        title = {
                            if(isKeeper) Messages("supply-email-keeper-acting")
                            else Messages("supply-email-business-acting")
                        },
                        visibleLabel = Messages("supply-email-true"),
                        invisibleLable = Messages("supply-email-false"),
                        optionalField = email(confirmForm(KeeperEmailId),
                                            labelText = if(isKeeper) Messages("vrm_assign_confirm.emailAddressKeeperLabel")
                                                         else Messages("vrm_assign_confirm.emailAddressCustomerLabel"),
                                            hintText = if(isKeeper) Some(Messages("vrm_assign_confirm.emailKeeper"))
                                                        else Some(Messages("vrm_assign_confirm.emailTrade")),
                                            args = Map('maxLength -> KeeperEmailMaxLength,
                                                'validityMessage -> Messages("error.email"),
                                                '_showConstraints -> false,
                                                'NO_OPTIONAL_LABEL -> false
                                            )
                                        )

                    )
                </div>

            </div>
            <div class="first-col">
                @playbackList(
                    Messages("vrm_assign_vehicle_callback.title"),
                    {
                        val playbackItems: LinkedHashMap[String, String] = LinkedHashMap();

                        vehicleDetails.make match {
                            case Some(make) => playbackItems += (Messages("vrm_assign_vehicle_callback.makeLabel") -> make)
                            case None => playbackItems
                        }
                        vehicleDetails.model match {
                            case Some(model) => playbackItems += (Messages("vrm_assign_vehicle_callback.modelLabel") -> model)
                            case None => playbackItems
                        }

                        val flaggedRegNumberLabel: String = "REG_" + Messages("vrm_assign_vehicle_callback.regNumLabel")
                        playbackItems += (flaggedRegNumberLabel -> vehicleDetails.registrationNumber)
                    },
                    Nil,
                    {
                        Html("<p><strong>" + Messages("vrm_assign_vehicle_callback.title-2") + "</strong></p>")
                    }
                )()
            </div>

            <div class="form-steps">
                <button id="@ConfirmId" type="submit" name="action" class="button">@Messages("vrm_assign_confirm.button")</button>
                <br/>
                <a id="@ExitId" class="exit" href="@controllers.routes.Confirm.exit()">@Messages("vrm_assign_exit.button")</a>
            </div>

        </div>
    }

    @if(config.googleAnalyticsTrackingId.isDefined) {
        <script type="text/javascript">
            trackChange(['@KeeperEmailId']);
            trackClick(['@GranteeConsentId', '@SummaryId', '@ConfirmId', '@ExitId']);
        </script>
    }
}
