@(vrm: String,
        retentionCertId: String,
        transactionId: String,
        transactionTimestamp: String,
        keeperName: String,
        keeperAddress: String,
        replacementVRM: String,
        outstandingFees: Option[String],
        keeperEmail: Option[String],
        businessDetailsModel: Option[BusinessDetailsModel],
        businessAddress: String,
        isKeeper: Boolean)(implicit lang: Lang)

@Messages("email.withoutHtml")

@Messages("email.title", replacementVRM)

@Messages("email.line2")

@Messages("email.line3")
@retentionCertId

@Messages("email.line4")
@transactionTimestamp

@Messages("email.line5")
@transactionId
@Messages("email.line6", replacementVRM)

@Messages("email.line13")
@if(!isKeeper) {
    @businessDetailsModel.map { businessDetails =>
@Messages("email.line14")
@businessDetails.name
@businessAddress
@businessDetails.email.toLowerCase
    }
}
@Messages("email.line20")
@keeperName
@keeperAddress
@keeperEmail.getOrElse("").toLowerCase

@outstandingFees.map { fee =>
@Messages("email.line29")
@Messages("email.line30", fee)
}

---------------------------

@Messages("email.line21")
@Messages("email.line22")
@Messages("email.line23")
