@(transactionId: String,
        vehicleLookupFailureViewModel: models.VehicleLookupFailureViewModel,
        data: models.VehicleAndKeeperLookupFormModel,
        captureCertificateDetailsFormModel: models.CaptureCertificateDetailsFormModel,
        trackingId: uk.gov.dvla.vehicles.presentation.common.clientsidesession.TrackingId)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import controllers.routes.PaymentFailure
@import scala.collection.mutable.LinkedHashMap
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.playbackList
@import common.views.html.widgets.xmasOpeningTimes
@import views.html.vrm_assign.lookup_failure.failure_playback
@import views.html.vrm_assign.main
@import views.vrm_assign.PaymentFailure.{TryAgainId, ExitId}

@main(
    title =  Messages("paymentFailureErrorMessage.title")
) {
    <div class="two-col">
        @failure_playback(
            vehicleLookupFailureViewModel,
            data,
            showContactDetails = true,
            showVehicleDetails = true
        )

        <div class="second-col">
            <h2>@Messages("paymentFailureErrorMessage.title")</h2>
            <p>Transaction Id @transactionId</p>
            <p>@Messages("paymentFailureErrorMessage.p1")</p>
            <p>@Messages("paymentFailureErrorMessage.p2")</p>
            <p>@Messages("paymentFailureErrorMessage.p3", trackingId)</p>

            @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
            <div class="form-steps">
                @{ /* Note the reverse routing syntax for the hyperlink */ }
                <a id="@TryAgainId" href="@PaymentFailure.submit()" class="button" role="button">@Messages("vrm_assign_paymentfailure.tryagainbutton")</a>
                <br/>
                <a class="exit" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vrm_assign_paymentfailure.exitbutton")</a>
            </div>
        </div>
    </div>
}