@(successViewModel: models.SuccessViewModel,
        isKeeper: Boolean)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_assign.main
@import views.vrm_assign.Success.{FinishId, CreatePdfId, PrintId}


@main(
    title = Messages("vrm_assign_success.title")
) {
    <h2>@Messages("vrm_assign_success.title")</h2>
    <div class="two-col assign-success">
        <div class="second-col">
            <div class="alert-complete">
                <span class="reg-number">@successViewModel.prVrm</span>
                <h2>@Messages("vrm_assign_success.subtitle")</h2>
            </div>

            <div class="alert-warning"><h3>@Messages("success-cert-warning-1")</h3></div>

            @if(successViewModel.paymentMade) {
                <h3>@Messages("vrm_assign_success.noticePayment.h3")</h3>
                <p>@Messages("vrm_assign_success.noticePayment.p1")</p>
            }



            <h2>@Messages("vrm_assign_success.h3a")</h2>

            <ul>
                @if(successViewModel.paymentMade) {
                    @if(successViewModel.businessEmail.isDefined || successViewModel.keeperEmail.isDefined) {
                        <li>@Messages("vrm_assign_success_payment.what-next-5a")</li>
                    }
                } else {
                    @if(successViewModel.businessEmail.isDefined || successViewModel.keeperEmail.isDefined) {
                        <li>@Messages("vrm_assign_success_payment.what-next-5b")</li>
                    }
                }
                <li>@Messages("vrm_assign_success_payment.what-next-1")</li>
                <li>@Messages("vrm_assign_success_payment.what-next-2")
                    <a href="https://www.gov.uk/number-plate-supplier" target="_blank"> @Messages("vrm_assign_success_payment.what-next-3")</a></li>
                <li>@Messages("vrm_assign_success_payment.what-next-4")</li>

            </ul>

            @if(isKeeper) {

                <h2>@Messages("vrm_assign_success.h2a")</h2>

                <p>@Messages("vrm_assign_success.p4") <b>@successViewModel.prVrm</b> @Messages("vrm_assign_success.p5")</p>

            }

            @if(!isKeeper) {
                <div class="info-highlight two-col">
                    <div class="second-col">
                        <h3>@Messages("vrm_assign_success_payment.p6")</h3>
                        <p>@Messages("vrm_assign_success_payment.p7")</p>
                    </div>
                    <div class="first-col">
                        <a id="@CreatePdfId" class="pdf-link" href="@controllers.routes.Success.createPdf()">
                            <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/pdf-icon-1.png")" alt="@Messages("vrm_assign_success.newPlateLink")">
                            @Messages("vrm_assign_success.newPlateLink")
                        </a>
                    </div>
                </div>
            }

            @if(!isKeeper) {

                <h2>@Messages("vrm_assign_success.h2a")</h2>
                <p>@Messages("vrm_assign_success.p4") <b>@successViewModel.prVrm</b> @Messages("vrm_assign_success.p5") </p>

            }

            <div class="form-steps">
                <div class="step">
                    <button id="@PrintId" type="button" name="action" value="Print this page" class="button js-only print-button">@Messages("vrm_assign_success.buttonnavprint")</button>
                    <br /><br />
                    <a id="@FinishId" href="@controllers.routes.Success.finish()" class="exit">@Messages("vrm_assign_finish.button")</a>
                </div>
            </div>

        </div>
        <div class="first-col">
            <div class="related">
                <h2>@Messages("success-application-details-keeper-details")</h2>
                <dl class="playback bg-plain">
                    <dt>@Messages("success-application-details-keeper-details-name")</dt>
                    <dd>@successViewModel.keeperTitle @successViewModel.keeperFirstName @successViewModel.keeperLastName</dd>
                    <dt>@Messages("success-application-details-keeper-details-address")</dt>
                    <dd>
                    @for(keeperAddressLine <- successViewModel.keeperAddress.get.address) {
                        <strong>@keeperAddressLine</strong> <br/>
                    }
                    </dd>
                    <dt>@Messages("success-application-details-previous")</dt>
                    <dd><span class="reg-number">@successViewModel.registrationNumber</span></dd>
                </dl>
            </div>
        </div>
        @successViewModel.businessAddress.map { businessAddress =>
        <div class="first-col">
            <div class="related">
                <h2>@Messages("success-application-details-business-details")</h2>
                <dl class="playback bg-plain">
                    <dt>@Messages("success-application-details-business-contact")</dt>
                    <dd>@successViewModel.businessContact</dd>
                    <dt>@Messages("success-application-details-business-name")</dt>
                    <dd>@successViewModel.businessName</dd>
                    <dt>@Messages("success-application-details-keeper-details-address")</dt>
                    <dd>
                    @for(keeperAddressLine <- businessAddress.address) {
                        <strong>@keeperAddressLine</strong> <br/>
                    }
                    </dd><br/>
                </dl>
            </div>
        </div>
        }
    </div>

    @if(config.googleAnalyticsTrackingId.isDefined) {
        @if(!isKeeper) {
            <script type="text/javascript">
                trackClick(['@CreatePdfId', '@PrintId', '@FinishId']);
            </script>
        }

        <script type="text/javascript">
            trackClick(['@PrintId', '@FinishId']);
        </script>
    }
}