@(successViewModel: models.SuccessViewModel, isKeeper: Boolean)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.html.vrm_assign.main
@import views.vrm_assign.Success.{FinishId, CreatePdfId, PrintId}


@main(
    title = Messages("vrm_assign_success.title")
) {
    <h2>@Messages("vrm_assign_success.title")</h2>
    <div class="two-col assign-success">
        <div class="second-col">
            <div class="alert-complete">
                <h2>@Messages("vrm_assign_success.subtitle")</h2>
                <span class="reg-number">@successViewModel.prVrm</span>
            </div>

            @if(successViewModel.outstandingPaymentAmount > 0.0) {
                <h3>@Messages("vrm_assign_success.noticePayment.h3")</h3>
                <p>@Messages("vrm_assign_success.noticePayment.p1")</p>
                <strong>@Messages("vrm_assign_success.noticePayment.desc1")</strong>
                <p/>
                @for(payment <- successViewModel.outstandingPaymentList) {
                    @payment.split("£")(0)
                    <span class="renewalFee">£@payment.split("£")(1)</span> <br>
                }
                <p/>
            }

            @if(isKeeper) {

                <h3>@Messages("vrm_assign_success.h2a")</h3>

                <p>@Messages("vrm_assign_success.p4")</p>

                <ul>
                    <li>@Messages("vrm_assign_success.p5") <b>@successViewModel.prVrm</b></li>
                </ul>
            }


            <h3>@Messages("vrm_assign_success.h3a")</h3>

            @if(isKeeper) {
                <p>@Messages("vrm_assign_success.p1a") <strong>@successViewModel.prVrm</strong>
                    @Messages("vrm_assign_success.p1aa")
                </p>
            } else {
                <div class="info-highlight two-col">
                    <div class="second-col">
                        <h3>@Messages("vrm_assign_success_payment.p6")</h3>
                        <p>@Messages("vrm_assign_success_payment.p7")</p>
                    </div>
                    <div class="first-col">
                        <a id="@CreatePdfId" class="pdf-link" href="@controllers.routes.Success.createPdf()">
                            <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/pdf-icon-1.png")" alt="@Messages("vrm_assign_success.newPlateLink")">
                            @Messages("vrm_assign_success.newPlateLink")
                        </a>
                    </div>
                </div>
            }

            @if(!isKeeper) {

                <h3>@Messages("vrm_assign_success.h2a")</h3>

                <p>@Messages("vrm_assign_success.p4")</p>

                <ul>
                    <li>@Messages("vrm_assign_success.p5") <b>@successViewModel.prVrm</b></li>
                </ul>
            }

            <div class="form-steps">
                <div class="step">
                    <button id="@PrintId" name="action" value="Print" class="button js-only print-button">@Messages("vrm_assign_success.buttonnavprint")</button>
                    <br /><br />
                    <a id="@FinishId" href="@controllers.routes.Success.finish()" class="exit">@Messages("vrm_assign_finish.button")</a>
                </div>
            </div>

        </div>
        <div class="first-col">
            <div class="playback">
                <h2>@Messages("success-application-details")</h2>
                <p>@Messages("success-application-details-transaction-id")</p>
                <p><strong>@successViewModel.transactionId</strong></p>
            </div>
            <div class="related">
                <h2>@Messages("success-application-details-keeper-details")</h2>
                <dl class="playback bg-plain">
                    <dt>@Messages("success-application-details-keeper-details-name")</dt>
                    <dd>@successViewModel.keeperTitle @successViewModel.keeperFirstName @successViewModel.keeperLastName</dd>
                    <dt>@Messages("success-application-details-keeper-details-address")</dt>
                    <dd>
                    @for(keeperAddressLine <- successViewModel.keeperAddress.get.address) {
                        @keeperAddressLine <br>
                    }
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    @if(config.googleAnalyticsTrackingId.isDefined) {
        @if(!isKeeper) {
            <script type="text/javascript">
                trackClick(['@CreatePdfId', '@PrintId', '@FinishId']);
            </script>
        }

        <script type="text/javascript">
            trackClick(['@PrintId', '@FinishId']);
        </script>
    }

    <script data-main="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js")).url"></script>
}