@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_assign.main
@import views.vrm_assign.UprnNotFound.SetupBusinessDetailsId

@main(
    title = Messages("vrm_assign_uprnnotfound.title")
) {
    <h2>@Messages("vrm_assign_uprnnotfound.title")</h2>
    <p>@Messages("vrm_assign_uprnnotfound.p1")</p>

    <div class="form-steps">
        @* Note the reverse routing syntax for the hyperlink *@
        <a id="@SetupBusinessDetailsId" href="@controllers.routes.SetUpBusinessDetails.present()">
            @Messages("vrm_assign_uprnnotfound.setuptradedetailsbutton")
        </a>
    </div>
}