//Exemplar specific
.vehicle-lookup {

    .form-item-radio .radio .form-item {
        margin-bottom:1.5em;
    }
//
    .first-col {
        display:block;
    }
}

.summary-replacement-reg {
    dt, dd {
        display:inline;
        font-size: 1.2em;
    }
}
ul.hint-list {
  color: $grey-1;
  margin-top: -2em;
  font-size: 16px;
  line-height: 16px;
}

#{$htmlNamespace} {

    .beta-info {
        clear: both;
        color: $grey-1;
        font-size: 0.9em;
        margin-top: 1.5em;
    }

    //radios common widget html need a parent wrapper class
    .form-item-radio {
        > .form-item > label {
            font-weight: bold;
        }
    }

    .assign-success {
        .second-col h3 {
            margin-bottom: 10px;
            font-size: 1.3em;
        }
    }
}

.vrm-assign-online .prototype {
    border-bottom:1px solid #DCDCDC;
}

.app ol li, .app ul li {
    margin-bottom: .1em;
}

.vrm-assign-online .first-col .playback {
    .reg-number {
      font-size: 20px;
      padding: 0.1em;
    }
    .reg-number-zoomed {
      @extend .reg-number;
      font-size: 36px;
      width:170px;
      padding-bottom:0px;
    }
}

.renewalFee {
    float:right;
    font-weight:bold;
}


/*Custom styles requested by Clifton for PR
so copied to assign may want to be moved to common*/

details {
    position: relative;
}

summary {
  padding-left: 14px;
}

summary::-webkit-details-marker {
  position: absolute;
  left: 0;
  top: 10px;
}


.app h1 {
    margin:0px;
    font-size:48px;
}

.app h2 {
    font-size:36px;
}

.app h3 {
    font-size:27px;
    font-weight:bold;
    padding-bottom:10px;
}

.price-total {
    border-top: 1px solid;
    padding-top: 1em;
}

.panel-indent {
    margin-top: 1em;
    margin-left: 1em;
}

summary {
    &:focus {
        border: none;
        outline: 0;
    }
}

.summary-wrapper {
  .summary {
    color:#005EA5;
    margin-bottom:15px;
    cursor: pointer;
    strong {
      text-decoration:underline;
    }
    &::before {
      content: "\25BA";
      margin-right: 8px;
    }
    &.active {
      &::before {
        content: "\25BC";
      }
    }
  }
}

.error ~ .form-checkbox {
    margin-top: 1em !important;
}

.vrm-assign-online .alert-warning {
    color:#000;
}

.vrm-assign-online .certificate-details {

  label {
      padding-bottom: 0px;
  }
  .form-hint {
      clear: both;
  }

  .certificate-id-input {
    display: block;
    .form-item {
      display: inline;
      margin-bottom: 8px;
      float: left;
      clear: right;
      //below fix for IE7 inline-block
      zoom: 1;
      *display: inline;
      *clear: both;
      &.validation {
        margin-right: 30px;
      }
      .error {
          padding-top: 6px;
      }

      &::after {
        content: "-";
      }
      &:last-child {
        &::after {
          content: "";
        }
      }

      input {
        margin: 0 10px 10px 0;
        text-align: center;
        width:95px;
      }
      #certificate-document-count {
        width:30px;
      }
      #certificate-registration-mark {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: $device-small) {
    .certificate-id-input {
      .form-item {
        display: block;
        clear: both;
        margin-bottom: 8px;
        &::after {
          content: "";
        }
      }
    }
  }

  #certificate-date {
      width:80px;
  }
  #certificate-registration-mark {
      width:105px;
  }
  .certificate-id-input {
      line-height: 2.75;
      .form-item {
          margin-right: 10px;
      }
  }
}

.vrm-assign-online .alert-complete {
    .reg-number {
        margin-left: auto;
        margin-right: auto;
        font-size: 27px;
    }
}

.help-thumbs {
    border-top: 10px solid #005ea5;
    padding-top: 1em;
    h3 {
        padding-bottom: 0;
    }
    p {
        margin-top: 0;
    }
}

#supply-email {
  label {
    clear: none;
  }
}