//Exemplar specific
.vehicle-lookup {

    .form-item-radio .radio .form-item {
        margin-bottom:1.5em;
    }
//
    .first-col {
        display:block;
        @media screen and (max-width:$device-medium) {
            display:none;
        }
    }
}

.summary-replacement-reg {
    dt, dd {
        display:inline;
        font-size: 1.2em;
    }
}
ul.hint-list {
  color: $grey-1;
  margin-top: -2em;
  font-size: 16px;
  line-height: 16px;
}

#{$htmlNamespace} {

    .beta-info {
        clear: both;
        color: $grey-1;
        font-size: 0.9em;
        margin-top: 1.5em;
    }

    //radios common widget html need a parent wrapper class
    .form-item-radio {
        > .form-item > label {
            font-weight: bold;
        }
    }

    .assign-success {
        .second-col h3 {
            margin-bottom: 10px;
            font-size: 1.3em;
        }
    }
}
