//Exemplar specific
#{$htmlNamespace} {

    .business-details-capture {
        input[type="text"] {
            width: 100%;
            box-sizing: border-box;
        }
    }

    .assign-success {
        .second-col h3 {
            font-size: 1.3em;
        }
        .alert-complete {
            h2{
                &:before {
                    width: 0; /* Center align */
                    background: none; /* Remove tick */
                }
            }
        }
    }

    .vehicle-lookup {
        h2 {
            width: 90%;
        }
        label.form-radio {
            width: 100%;
            display: inline-block;
            span {
                margin-left: 10px;
                display: inline-block;
                width: 80%;
            }
        }
    }

    .certificate-details {
        label {
            padding-bottom: 0px;
        }
        .form-hint {
            clear: both;
            margin-bottom: 10px;
        }

        .certificate-id-input {
            display: block;
            .form-item {
                display: inline;
                margin-bottom: 8px;
                float: left;
                clear: right;
                //below fix for IE7 inline-block
                zoom: 1;
                *display: inline;
                *clear: both;
                &.validation {
                    margin-right: 30px;
                }
                .error {
                    padding-top: 6px;
                }
                &:last-child {
                    &::after {
                        content: "";
                    }
                }

                input {
                    margin: 0 10px 10px 0;
                    text-align: center;
                    width:95px;
                }
                #certificate-document-count {
                    width:30px;
                }
                #certificate-registration-mark {
                    margin-right: 0;
                }
            }
        }

        @media screen and (max-width: $device-small) {
            ul.help-list li .field-help {
                position: static;
                float: right;
                min-width: auto;
            }
            .certificate-id-input {
                .form-item {
                    display: block;
                    clear: both;
                    margin-bottom: 8px;
                    #certificate-document-count {
                        width:50px;
                    }
                }
            }
        }

        #certificate-date {
            width:80px;
        }
        #certificate-registration-mark {
            width:105px;
        }
        .certificate-id-input {
            margin-top: 10px;
            line-height: 2.75;
            .form-item {
                margin-right: 10px;
            }
            label {
                color: #6f777b;
                font-size: 1.6rem;
            }
        }
    }

    .confirmation-block {
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
    }

    .price-total {
        border-top: 1px solid;
        padding-top: 1em;
    }

    .renewalFee {
        float:right;
        font-weight:bold;
    }

    .renewalFeeTotalRow {
        margin-top: 10px;
        border-top: 1px solid $black-3;
        border-bottom: 1px solid $black-3;
        padding: 5px 0;
    }
}

/* These will be removed once VMPRCI-4323 is complete */
.app h1 {
    margin:0px;
    font-size:48px;
}

.app h2 {
    font-size:36px;
}

.app h3 {
    font-size:27px;
    font-weight:bold;
    padding-bottom:10px;
}
