//Exemplar specific
.vehicle-lookup {

    .form-item-radio .radio .form-item {
        margin-bottom:1.5em;
    }
//
    .first-col {
        display:block;
    }
}

.summary-replacement-reg {
    dt, dd {
        display:inline;
        font-size: 1.2em;
    }
}
ul.hint-list {
  color: $grey-1;
  margin-top: -2em;
  font-size: 16px;
  line-height: 16px;
}

#{$htmlNamespace} {

    .beta-info {
        clear: both;
        color: $grey-1;
        font-size: 0.9em;
        margin-top: 1.5em;
    }

    //radios common widget html need a parent wrapper class
    .form-item-radio {
        > .form-item > label {
            font-weight: bold;
        }
    }

    .assign-success {
        .second-col h3 {
            margin-bottom: 10px;
            font-size: 1.3em;
        }
    }
}


.app ul.email-list li {
  margin-bottom:0px;
}

.vrm-assign-online .first-col .playback {
    .reg-number {
      font-size: 20px;
      padding: 0.1em;
    }
    .reg-number-zoomed {
      @extend .reg-number;
      font-size: 36px;
      width:170px;
      padding-bottom:0px;
    }
}

.renewalFee {
    float:right;
    font-weight:bold;
}


/*Custom styles requested by Clifton for PR
so copied to assign may want to be moved to common*/

details {
    position: relative;
}

summary::-webkit-details-marker {
  position: absolute;
  right: 0;
  top: 10px;
}


.app h1 {
    margin:0px;
    font-size:48px;
}

.app h2 {
    font-size:36px;
}

.app h3 {
    font-size:27px;
    font-weight:bold;
    padding-bottom:10px;
}

.price-total {
    border-top: 1px solid;
    padding-top: 1em;
}

.panel-indent {
    margin-top: 1em;
    margin-left: 1em;
}

summary {
    &:focus {
        border: none;
        outline: 0;
    }
}

.error ~ .form-checkbox {
    margin-top: 1em !important;
}

.summary {
    color:#005EA5;
    text-decoration:underline;
    margin-bottom:15px;
    cursor: pointer;
}

.vrm-assign-online .alert-warning {
    color:#000;
}

.vrm-assign-online .certificate-details {
    .form-item {
        margin: 0px;
        padding: 0px;
        clear:none;
        padding-bottom: 0px;
        vertical-align: bottom;
        display: inline-block;
        // below fix for IE7 inline-block
        zoom: 1;
        *display: inline;
        .error {
            padding-left: 6px;
            padding-top: 6px;
        }
    }
    label {
        padding-bottom: 0px;
    }
    .form-hint {
        clear: both;
    }

    #certificate-document-count {
        float:left;
        width:30px;
        text-align:center;
    }

    #certificate-date, 
    #certificate-time, 
    #certificate-registration-mark {
        float:left;
        width:95px;
        margin-left:10px;
        text-align:center;
    }
    #certificate-date {
        width:80px;
    }
    #certificate-registration-mark {
        width:105px;
    }
    .certificate-id-input {
        line-height: 2.75;
        .form-item {
            margin-right: 10px;
        }
    }
}

.vrm-assign-online .alert-complete {
    .reg-number {
        margin-left: auto;
        margin-right: auto;
        font-size: 27px;
    }
}