@(transactionId: String,
        viewModel: models.VehicleLookupFailureViewModel,
        vehicleAndKeeperLookupFormModel: VehicleAndKeeperLookupFormModel,
        captureCertificateDetailsModel: Option[CaptureCertificateDetailsModel],
        responseMessage: Option[String] = None,
        responseLink: Option[String] = None
        )(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_assign.lookup_failure.failure_playback
@import views.html.vrm_assign.main
@import views.vrm_assign.VehicleLookupFailure.ExitId
@import views.vrm_assign.VehicleLookupFailure.`v50-or-v778-id`
@import views.vrm_assign.VehicleLookupFailure.VehicleLookupId

@main(
    title = Messages(s"vehicle-lookup-failure-direct_to_paper-title")
) {
    <div class="two-col">
        <div class="second-col">
            <h2>@Messages("vehicle-lookup-failure-direct_to_paper-title")</h2>
            <p>@Messages("vehicle-lookup-failure-transaction-id") @transactionId</p>
            <p>@Messages(s"vehicle-lookup-failure-direct_to_paper-p1")</p>
            @if(responseMessage.isDefined) {
                @if(responseLink.isDefined) {
                    <p>@Messages(responseMessage.get)
                        <a href="@{Messages(responseLink.get)}"> @{Messages(responseLink.get)}</a></p>
                } else {
                    <p>@Messages(responseMessage.get)</p>
                }
            }

            @if(captureCertificateDetailsModel.isDefined) {
                @if(captureCertificateDetailsModel.get.outstandingDates.size > 0) {
                    <p>@Messages("vehicle-lookup-failure-notice-payment-p1a")</p>
                    <p><strong>@Messages("vehicle-lookup-failure-notice-payment-desc1")</strong></p>
                    <p>
                    @for(payment <- captureCertificateDetailsModel.get.outstandingDates) {
                        @payment.split("£")(0)
                        <span class="renewalFee">£@payment.split("£")(1)</span> <br>
                    }
                    <p class="price-total">
                    <strong>Total</strong>
                    <span class="renewalFee">£@(captureCertificateDetailsModel.get.outstandingFees / 100.0)0</span>
                    </p>
                    </p>
                    <p>@Messages("vehicle-lookup-failure-direct-to-paper-p2a") <a id="@{`v50-or-v778-id`}" href="@Messages("link-v750-or-v778")">@Messages("text-v750-or-v778")</a> @Messages("vehicle-lookup-failure-direct-to-paper-p2a2")</p>
                } else {
                    <p>@Messages("vehicle-lookup-failure-direct-to-paper-p2b") <a id="@{`v50-or-v778-id`}" href="@Messages("link-v750-or-v778")">@Messages("text-v750-or-v778")</a> @Messages("vehicle-lookup-failure-direct-to-paper-p2b2")</p>
                }
            }
            <p>@Messages(s"vehicle-lookup-failure-direct-to-paper-address-line1")<br/>
                @Messages(s"vehicle-lookup-failure-direct-to-paper-address-line2")<br/>
                @Messages(s"vehicle-lookup-failure-direct-to-paper-address-line3")</p>
            <p>@Messages(s"vehicle-lookup-failure-direct-to-paper-p4")</p>

        </div>
        @failure_playback(
        viewModel, vehicleAndKeeperLookupFormModel
        )
        <div class="form-steps">
            <a class="button" id="@VehicleLookupId" href="@controllers.routes.VehicleLookup.present()" role="button">@Messages("vehicle-lookup-failure-cert-number-try-again")</a>
            <br/>
            <a class="exit" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vehicle-lookup-failure-exit")</a>
        </div>
    </div>
}