@(transactionId: String,
        viewModel: models.VehicleLookupFailureViewModel,
        responseCodeVehicleLookupMSErrorMessage: String
        )(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.common.liveAgentInfo
@import views.html.vrm_assign.lookup_failure.failure_playback
@import views.html.vrm_assign.main
@import views.vrm_assign.VehicleLookupFailure.ExitId
@import views.vrm_assign.VehicleLookupFailure.VehicleLookupId

@displayMessage(message: String) = {
  @if(!message.isEmpty) {
    <p>@Html(message)</p>
  }
}

@main(
    title = Messages("vehicle-lookup-failure-title")
) {
    <div class="two-col">
        <div class="second-col">
            <h2>@Messages("vehicle-lookup-failure-title")</h2>

            <p>@Messages("vehicle-lookup-failure-transaction-id") @transactionId</p>

            @displayMessage(Messages("vehicle_lookup_failure.p1"))
            @displayMessage(Messages("vehicle_lookup_failure.p2"))
            @displayMessage(Messages("vehicle_lookup_failure.p3"))
            @displayMessage(Messages("vehicle_lookup_failure.p4"))
            @displayMessage(Messages("vehicle_lookup_failure.p5"))
            @if(responseCodeVehicleLookupMSErrorMessage != "vehicle_and_keeper_lookup_document_reference_mismatch") {
                @liveAgentInfo()
            }
        </div>

        @failure_playback(
            viewModel = viewModel,
            showContactDetails = (responseCodeVehicleLookupMSErrorMessage != "vehicle_and_keeper_lookup_document_reference_mismatch")
        )

        <div class="form-steps">
            <a class="button" id="@VehicleLookupId" href="@controllers.routes.VehicleLookup.present()" role="button">@Messages("vehicle-lookup-failure-cert-number-try-again")</a>
            <br/>
            <a class="exit" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vehicle-lookup-failure-exit")</a>
        </div>
    </div>
}
