@(vehicleDetails: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel)(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.registrationNumber

<dl class="playback">

    <h3>@Messages("vrm_assign_vehicle_callback.title")</h3>

    <p><strong>@Messages("vrm_assign_vehicle_callback.title-2")</strong></p>

    @vehicleDetails.make.map { make =>
        <dt><span>@Messages("vrm_assign_vehicle_callback.makeLabel")</span></dt>
        <dd><span><strong>@make.take(20)</strong></span></dd>
    }


    @vehicleDetails.model.map{ model =>
        <dt><span>@Messages("vrm_assign_vehicle_callback.modelLabel")</span></dt>
        <dd><span><strong>@model.take(20)</strong></span></dd>
    }

    <dt>@Messages("vrm_assign_vehicle_callback.regNumLabel")</dt>

    <dd>@registrationNumber() { @vehicleDetails.registrationNumber }</dd>

</dl>